.code {
  &.gray {
    color: $color-light-gray;
  }

  &.orange {
    color: $color-orange;
  }

  &.green {
    color: $color-green;
  }

  &.white {
    color: $color-white;
  }

  &.purple {
    color: $color-purple;
  }

  &.yellow {
    color: $color-yellow;
  }

  .indent {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: calc(50% - 1px);
      width: 2px;
      height: 2px;
      background-color: #505050;
      border-radius: 10px;
    }
  }
}
