.code {
  @each $theme, $colors in $code-themes {
    .#{$theme} & {
      @each $id, $color in $colors {
        &.#{$id} {
          color: $color;
        }
      }
    }
  }

  &.jsx {
    font-weight: bold;
  }

  .indent {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: 4px;
      left: calc(50% - 1px);
      width: 2px;
      height: 2px;
      border-radius: 10px;

      @each $theme, $colors in $code-themes {
        .#{$theme} & {
          background-color: map-get($colors, 'dot-color');
        }
      }
    }
  }
}

.Cursor {
  @each $theme, $colors in $code-themes {
    .#{$theme} & {
      color: map-get($colors, 'cursor');
    }
  }
}
