html, body {
  font-family: $font-family-base;
}

.app {
  display: flex;
  min-height: 1vh;

  @each $theme, $colors in $code-themes {
    &.#{$theme} {
      background-color: map-get($colors, 'background');
    }
  }
}

.line-numbers {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  width: 4rem;
  padding: 1rem 1rem 1rem 0;
  text-align: right;
  color: #606366;

  @each $theme, $colors in $code-themes {
    .#{$theme} & {
      background-color: map-get($colors, 'line-numbers-background');
      color: map-get($colors, 'comment');
    }
  }
}

.code-window {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 1rem;
}
