.app-sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  top: 0;
  right: 0;
  padding: 1rem;

  .widget {
    align-items: center;
    margin-bottom: 1.5rem;

    @each $theme, $colors in $code-themes {
      .#{$theme} & {
        color: map-get($colors, 'identifier');
      }
    }

    &:not(.no-flex) {
      display: flex;
    }

    a {
      color: inherit;
    }
  }
}

.finish-typing {
  border: transparent solid 5px;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: 0 0 1.5rem rgba(#000000, .75);
  transition: all 350ms;

  @each $theme, $colors in $code-themes {
    .#{$theme} & {
      background-color: map-get($colors, 'background');
      color: map-get($colors, 'comment');
      border-color: lighten(map-get($colors, 'background'), 10%);
    }
  }

  &:hover {
    box-shadow: 0 0 2.5rem rgba(#000000, .5);
    transform: scale(1.1);
    transition: all 200ms;
  }
}

.widget-button {
  display: flex;
  align-items: center;
  padding: 1rem 0 1rem 1rem;
  border: transparent solid 5px;
  border-radius: 1rem;
  transition: all 350ms;

  &:hover {
    cursor: pointer;
    padding-right: 1rem;
    box-shadow: 0 0 1.5rem rgba(#000000, .75);
    transition: all 200ms;

    .text {
      width: 6rem;
      transition: all 200ms;
    }
  }

  @each $theme, $colors in $code-themes {
    .#{$theme} & {
      color: map-get($colors, 'comment') !important;

      &:hover {
        background-color: map-get($colors, 'background');
        border-color: lighten(map-get($colors, 'background'), 10%);
      }
    }
  }

  .text {
    display: block;
    width: 0;
    overflow: hidden;
    margin-right: 1rem;
    transition: all 350ms;
  }
}

.code-theme-selector {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  color: inherit;
  padding: 0;
  margin: 0;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }

  @each $theme, $colors in $code-themes {
    &.#{$theme} span:last-child {
      background-color: map-get($colors, 'background');
      border-color: map-get($colors, 'dot-color');
    }
  }

  span {
    display: block;
  }

  span:last-child {
    width: 1em;
    height: 1em;
    border: 2px solid;
  }

  svg {
    position: absolute;
    right: calc(100% + .5rem);
  }
}
