$body-bg: #2B2B2B;

$color-gray: #313335;
$color-light-gray: #808080;
$color-orange: #CC7832;
$color-green: #6A8759;
$color-white: #A9B7C6;
$color-purple: #9876AA;
$color-yellow: #DFB867;

$font-family-base: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
